<section class="map-section">

  <!-- map here-->
  <div class="task-time text-center">
      <div class="countdown">
         03:12
      </div>
      <div class="amount-charged">
        <span class="rs">Rs.</span> 235.80
      </div>
  </div>

  <!-- service provider stuff here-->
  <div class="sp-details">
    <div class="row">
      <div class="col-md-8 sp-details" >

            <div class="sp-names text-center">
              <span class="sp-name">Repaor Blender</span>
              <hr>
              <span class="sp-des">04.30 PM : </span>
             <span class="est-arrival"> Tv Repair</span>
            </div>

        </div>
      <div class="col-md-4" class="sp-contact text-center">
        <div class="container-fluid text-center">
            <button mdbBtn mdbWavesEffect class="sp-btn" color="green" text="white" >
              <i class="fa fa-check-circle" aria-hidden="true"></i>  Task List
            </button>
            <button mdbBtn mdbWavesEffect class="sp-btn" color="red" text="white" outline="yes"  >
              <i class="fa fa-times-circle" aria-hidden="true"></i> Cancel Task
              </button>
            </div>
        </div>

    </div>
  </div>
  </section>

