<section class="map-section">

  <!-- map here-->
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15871.953595116125!2d80.5327317!3d5.9963279!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae1418b34b31de9%3A0x5fc03e940e80049!2sRH%20Flower%20Nursery!5e0!3m2!1sen!2slk!4v1588725020794!5m2!1sen!2slk" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>

  <!-- service provider stuff here-->
  <div class="sp-details">
    <div class="row">
      <div class="col-md-8 sp-details" >
        <table>
            <tr >
              <th>
              <img src="./assets/images/spprofilephoto.jpg" class="profile-img">
            </th>
            <th class="sp-names">
              <span class="sp-name"> Customer Name
              </span><br><p class="middle-sp"></p>
              <span class="sp-des">Address:</span>
             <p class="est-arrival">118, Nt Street, Colombo 8</p>
            </th>
            </tr>
          </table>

        </div>
      <div class="col-md-4" class="sp-contact text-center">
        <div class="container-fluid text-center">
            <button mdbBtn mdbWavesEffect class="sp-btn" color="green" text="white" >
              <i class="fa fa-check-circle" aria-hidden="true" routerLink="/sp/task/time"></i>  Mark Arrival
            </button>
            <button mdbBtn mdbWavesEffect class="sp-btn" color="red" text="white" outline="yes"  >
              <i class="fa fa-times-circle" aria-hidden="true"></i> Cancel Task
              </button>
            </div>
        </div>

    </div>
  </div>
  </section>

