<section class="map-section">

  <!-- map here-->
  <div class="map">
    <agm-map 
    [latitude]="recievedLocation.lat"
    [longitude]="recievedLocation.lang"
    [zoom]="zoom" >
      <agm-marker
      [latitude]="recievedLocation.lat"
      [longitude]="recievedLocation.lang"  [markerDraggable]="true"
      (dragEnd)="markerDragEnd($event)" ></agm-marker>
    
    </agm-map>  </div>

  <!-- service provider stuff here-->
  <div class="sp-details">
    <div class="row">
      <div class="col-md-8 sp-details" >
        <table>
            <tr >
              <th>
              <img src="./assets/images/spprofilephoto.jpg" class="profile-img">
            </th>
            <th class="sp-names">
              <span class="sp-name"> Customer Name
              </span><br><p class="middle-sp"></p>
              <span class="sp-des">Address:</span>
             <p class="est-arrival">118, Nt Street, Colombo 8</p>
            </th>
            </tr>
          </table>

        </div>
      <div class="col-md-4" class="sp-contact text-center">
        <div class="container-fluid text-center">
            <button mdbBtn mdbWavesEffect class="sp-btn" color="green" text="white" >
              <i class="fa fa-check-circle" aria-hidden="true" routerLink="/sp/task/time"></i>  Mark Arrival
            </button>
            <button mdbBtn mdbWavesEffect class="sp-btn" color="red" text="white" outline="yes"  >
              <i class="fa fa-times-circle" aria-hidden="true"></i> Cancel Task
              </button>
            </div>
        </div>

    </div>
  </div>
  </section>

